/* --------------- ROOT --------------- */
:root {
    --hybrid-header-height: 7vh;
    --header-border-color: var(--color-primary);
}

/*#region  Gerais de Header*/
.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-background);
    z-index: 9999999;
    position: fixed;
    height: var(--header-height);
}

.header > * {
    padding: 0 2rem;
}

.header.center{
    justify-content: space-around;
}

/* Logo e Alinhamento */
.header .logo {
    width: 10rem;
  }


.header-flex {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.header-toolbar {
    width: 100%;
    gap: 1.5rem;
}

.header-toolbar.center{
    justify-content: center;
}

.header-toolbar.spacing{
    justify-content: space-between;
}

.header-toolbar.end{
    justify-content: space-between;
    flex-direction: row-reverse;
}

.float .header-toolbar.end,
.hybrid .header-toolbar.end {
    justify-content: end;
    flex-direction: row;
}

.header-actions {
    display: flex;
    gap: 1.25rem;
}

.header-left.menu {
    gap: 2rem;
    padding: 0;
}

/* Borda do Header*/
.header.basic {
    border-bottom: 2.5px solid var(--color-grey);
}

.header.colorful {
    border-bottom: 2.5px solid var(--color-primary);
}


/* Sombra do Header */
.header-shadow {
    box-shadow: var(--box-shadow);
}

/* Navegação do Header */
.header-nav {
    gap:2rem;
}

.header.contained-nav {
    padding: .5rem 0;
}

.header-nav-item {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--color-text-main);
    padding: .5rem .8rem;
}

/* Estilo para os itens da nav */
.header-nav-item.contained {
    background-color: var(--color-primary);
}

.header-nav-item.full {
    height: var(--header-height);
    border-radius: 0;
    padding: 0 .5rem;
}

.header-nav-item.outlined{
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius-sm);
}

.header-nav-item.text{  
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}


.header-nav-item.active{
    color: var(--color-text-main);
    background-color: transparent ;
    text-decoration: underline var(--color-primary) 2px;
    text-underline-offset: 8px;
}

.header-nav-item.outlined.active,
.header-nav-item.contained.active{
    color: var(--color-primary-active);
    border-color: var(--color-primary-active);
    text-decoration: none;
}


.header-nav-item.contained:hover {
    background-color: var(--color-primary-hover);
    color: white;
    text-decoration: none;
}

.header-nav-item.full:hover {
    color: white;
    background-color: var(--color-primary);
}

.header-nav-item.outlined:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    color: white;
}


.header-nav-item.text:hover{
    color: var(--color-primary-hover);

}

.header-nav-item:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.05);
}


/*#endregion*/

/*#region Float Header*/
.float {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 1.5rem;
    position: fixed;
    left: 50%;
    top: 2.5vh;
    z-index: 99999;
    transform: translate(-50%, 0%);
    gap: 1.5rem;
}

.float .logo {
    width: 8rem;
}

.float.default {
    width: fit-content;
}

.float.large {
    width: 80%;
}

/* Estilos de borda para o float */
.float.basic {
    border: var(--border);
}

.float.colorful {
    border: 3px solid var(--color-primary);
}

.float .header-nav-item {
    font-size: 12px;
}

.float.header > * {
    padding: 0 1.5rem;
}

.float.contained-nav {
    padding: .5rem 1.5rem;
}

.float-shadow {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
}
/*#endregion */

/*#region Hybrid Header*/
.hybrid {
    height: var(--header-height);
}

.hybrid:has(.sidebar) {
    right: 0;
    width: calc(100vw - 78px);
}

.hybrid:has(.sidebar.open) {
    width: calc(100vw - 278px);
}

.hybrid:has(.float-menu) .logo{
    padding-left: 5rem;
}

/*#endregion */

@media (max-width: 576px) {
    .header {
        flex-direction: column;
        height: fit-content;
        border-bottom: 1px solid black;
    }

    .header-toolbar {
        margin-top: .5vh;
        width: fit-content;
        background: var(--color-background-contrast);
    }

    .header.contained-nav {
        padding: 0;
        padding-top: .5rem;

    }

    .header-actions {
        display: none;
    }
}
