/* ----- Estilos Gerais de Botão ----- */
.button {
  box-shadow: var(--box-shadow);
  color: 	#333333;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

.button:hover {
  transform: scale(1.03);
}


/* ----- Botões principais ----- */
.main-button {
  border-radius: 1rem;
  padding: 0.5rem 0;
  height: 2.5rem;
  width: var(--action-width);
  height: fit-content;
}

.row .main-button {
  width: fit-content;
  padding: 0.5rem 1rem
}

/*#region ICON BUTTON*/
.icon-button {
  border-radius: 3rem;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button i {
  color: #000000;
}

.icon-button:hover {
  color: #f2f2f2;
  background: var(--color-primary-hover);
  transform: scale(1.1);
}

.icon-button.xs {
  width: 25px;
  height: 25px;
  font-size: 12.5px;
}

.icon-button.sm {
  width: 32px;
  height: 32px;
  font-size: 16px !important;
}

.icon-button.md {
  width: 40px;
  height: 40px;
  font-size: 20px !important;
}

.icon-button.lg {
  width: 50px;
  height: 50px;
  font-size: 25px !important;
}

.icon-button.xl{
  width: 60px;
  height: 60px;
  font-size: 30px !important;
}

.icon-button.xxl{
  width: 80px;
  height: 80px;
  font-size: 40px !important;
}

/*#endregion*/

/*#region ACTION BUTTON*/
.action-button {
  display: inline-flex;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  padding: 0.3rem 0.6rem;
  width: fit-content;
}

.action-button span {
  font-size: smaller;
}

/*#endregion*/

/*#region CORES DE BOTÕES*/
.primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.primary:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.secondary {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.secondary:hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}

/*#endregion*/

/*#region TIPOS DE BOTÕES*/

.outlined {
  background-color: var(--menu-background);
  border: 2px solid currentColor;
}

.outlined i {
  color: var(--color-primary);
}

.outlined i:hover {
  color: var(--color-primary-hover);
}

.text {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.text i {
  color: var(--color-primary);
}

.outlined:hover,
.text:hover {
  background-color: var(--white-hover);
}

.outlined.primary,
.text.primary {
  color: var(--color-primary);
}

.outlined.secondary,
.text.secondary,
.outlined.secondary i,
.text.secondary i {
  color: var(--color-secondary);
}

.text.secondary:hover i {
  color: var(--color-primary-hover);
}

.outlined.primary:hover,
.text.primary:hover {
  color: var(--color-primary-hover);
}

.outlined.secondary:hover,
.text.secondary:hover {
  color: var(--color-secondary-hover);
}

/*#endregion*/
