.footer {
    background: var(--color-background);
    border-top: var(--border);
    width: 100%;
}

.footer  .link {
    color: var(--color-text-secondary);
    width: fit-content;
}

/*#region Classic Footer*/

.classic-footer-container {
    padding: 0 5.5rem;
    padding-top: 1.5rem;
}

.classic-footer-flex {
    display: flex;
    justify-content: center;
    gap: 12rem;
    padding: 1rem 0;
    padding-bottom: 3rem;
}

.classic-footer-column {
    display: flex;
    gap: .7rem;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.classic-footer-column li:hover + .link {
    transform: scale(1.1);
}

.classic-footer-column h6 {
    padding-bottom: .3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.classic-footer-row {
    display: flex;
    gap: 1rem;
}

.footer-section {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    padding: .9rem 0;
    border-top: var(--border);
  }

  .footer-section > * {
    flex: 1;
    text-align: center;
  }

  .footer-section small {
    flex: 7;
  }

  .footer-section .logo {
    position: absolute;
    flex: 0 0;
  }
 
.footer-bottom {
    background-color: var(--color-background-soft);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: .5rem 0;
}

.footer-bottom a {
    color: var(--color-text-main);
    font-family: 'Orbitron';
    font-weight: 700;
    text-transform: uppercase;
}

.footer-bottom a:hover {
    color: #00B1FF;
    transform: scale(1.05);
}
/*#endregion*/

/*#region Modern Footer*/
.modern-footer-container {
    padding: 0rem 5dvw;
    padding-top: 1.5rem;
}

.modern-footer-row {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom:1rem;
}

.modern-footer-row.icons {
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

/*#endregion*/

@media (max-width: 576px) {
    .modern-footer-row {
        gap: 4rem;
    }
}   

.flaticon-section {
    position: relative;
}

.flaticon-section span {
    font-size: .6rem;
    color: grey;
}