.page-main {
    background: var(--color-background-soft);
    padding-top: var(--header-height);
    flex: 1;
}

.page-main:has(.page-form) {

    background-color: var(--color-secondary);
}

.page-main:has(.page-form.full) {
    height: 100vh;
    padding: 0;
}

.page-main:has(.page-form.full) .page-container {
    margin: 0;
}

.page-main:has(.page-form.full) .page-form {
    height: 100%;
    width: 30%;
    max-width: 100%;
    justify-content: center;
    align-self: flex-end;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.page-form {
    padding: 1.5rem 3rem;
    background-color: var(--color-background-alt);
    border: var(--border);
    display: flex;
}

.page-form.vertical {
    flex-direction: column;
    align-items: center;
}

.page-form.horizontal {
    align-items: center;
    gap: 3rem;
}

.page-form.center {
    align-self: center;
}

.page-form.start {
    align-self: flex-start;
}

.page-form.end {
    align-self: flex-end;
}

.page-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: .4rem;
    padding-bottom: 1.2rem;
}

.page-form-header .logo {
    width: 4rem !important;
}

.page-highlight {
    width: fit-content;
    background-color: var(--color-background-contrast);
    border-radius: var(--border-radius-lg);
    padding: 2rem;
    margin-bottom: 4vh;
}

@media (max-width: 576px) {

    .page-highlight:has(.highlight-container) {
        flex-direction: column;
    }
}